@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bad+Script&family=Inter:wght@400;700&family=Playfair+Display+SC:ital,wght@0,700;1,400&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Bad Script', cursive;
font-family: 'Caveat', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Playfair Display SC', serif;
 */

 :root {
   --black: #000000;
   --white:rgb(235, 235, 235);
   --bg-color: #102c1b;
   --purple: #5c62ec;
   --pensil:rgba(255, 251, 251, 0.911);

   --text-color:var(--black);
}

 html, body {
   font-family: 'Amatic SC', cursive;
    letter-spacing: -0.5px;
    color: #000000;
    height: 100%;
    display: flex;
    flex-direction: column;
 }

 .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

 }

 /* Nav */

 .nav {
    padding: 20px 0;
    border-bottom: 1px solid #f3f0f0;
    background-color:var(--bg-color);
    color: #fff;
    letter-spacing: normal;
 }

 .nav-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 30px;
   row-gap: 20px;
   flex-wrap: wrap;
 }

 .logo {
   color: #fff;
   font-size: 30px;
   font-family: 'Playfair Display SC', serif;;
 }
 .logo:active {
   position: relative;
   top: 1px;
 }
 .logo strong {
   font-size: 700;
 }

 .nav-list {
   display: flex;
   align-items: center;
   column-gap: 40px;
   font-size: 16px;
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
 }

 .nav-list__link {
   color: #fff;
   transition: opacity 0.2s ease-in;
 }

 .nav-list__link:hover {
   opacity: 0.8;
   color: #9e95e9;
 }

 .nav-list__link--active {
   position: relative;
 }

 .nav-list__link:active {
   position: relative;
   top: 2px;
 }

 .nav-list__link--active::before {
   content: '';

   position: absolute;
   left: 0;
   top: 100%;

   display: block;
   height: 2px;
   width: 100%;
   background-color: #5c62ec;
   
}

/* Header */
.header {
   min-height: 600px;
   padding: 0 0;
   display: flex;
   justify-content: center; /*горизонт*/
   align-items: center; /*вертикал*/

   background-color:#102c1b;
   color: var(--pensil);
   text-align: center;

   background-image: url('./../img/projects/doska.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   /* background-position: center center; */
}

.header__wrapper {
   padding: 0 15px;
   max-width: 900px;
   height: 600px;

   

}

.header__title {
   padding: 10px 0;
   margin-bottom: 20px;
   font-size: 70px;
   font-weight: 700;
   line-height: 1.4;
   font-style:normal;
   font-family: 'Amatic SC', cursive;
}

.header__title srong {
   font-size: 60px;
   font-weight: 700;
}

.header__title em {
   font-style: normal;
   color: #5c62ec;
   font-style: normal;
}

.header__text {
   margin-bottom: 40px;
   font-size: 22px;
   line-height: 1.333;
}

.header__text p + p {
   margin-top: 0.5em;
} 

/* Btn */

.btn {
   display: inline-block;
   height: 48px;
   padding: 12px 28px;

   border-radius: 5px;
   background-color: #5c62ec;
   color: #fff;
   letter-spacing: .15px;
   font-size: 16px;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;

   transition: opacity 0.2s ease-in;
}

.btn:hover {
   opacity: 0.8;
}

.btn:active {
   position: relative;
   top: 1px;
   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.9);
}

/* General */
.section {
   padding: 0px;
}

.title-1 {
   padding: 20px;
   margin-bottom: 60px;
   font-size: 60px;
   font-weight: 700;
   line-height: 1.3;
   color: black;
   text-align: center;
}

/* Projects */

.projects {
   padding-bottom: 15px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 30px;
}
.project {
   max-width: 370px;
   background-color: #fff;
   box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

.project:active {
   position: relative;
   top: 2px;
   box-shadow: 10px 15px 45px rgba(0, 0, 0, 0.9);
 }

.project__img {
   border-radius: 10px;
   height: 250px;
   width: 400px;
}

.project__title {
   padding: 15px 20px 25px;
   line-height: 1.3;
   font-weight: 700;
   font-size: 24px;
   color: #000000c7;
}

/* Project__details */

.project-detais {
   margin: 0 auto;
   padding: 20px 0 ;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url('./../img/projects/list-tetr.png');
   background-position: top;
   width: auto;
   height: 870px;
}

.title-1 {
   padding: 60px 40px;
   margin-bottom: 0;
   font-style: italic;
   font-family: 'Bad Script', cursive;
   text-align: center;
}
.title-2 {
   padding: 0 40px 0 40px;
   font-family: 'Bad Script', cursive;
   /* margin-bottom: 360px ; */
   font-size: 40px;
   font-weight: 700;
   line-height: 1.3;
   font-style: italic;
   color: #5c62ec;
}

.title-2 p + p {
   margin-top: 0.5em;
} 

/* COntact */

.content-list__item {
   text-align: center;
   margin: 0 auto;
}

.title-3 {
   text-align: center;
   font-family: 'Bad Script', cursive;
   font-size: 40px;
}

.link_contact {
   font-family: 'Bad Script', cursive;
   font-size: 40px;
}

.link_contact:active {
   position: relative;
   top: 1px;
}

/* Footer */

.footer {
   margin-top: auto;
   padding: 20px 0 20px;
   background-color: #102c1b;
   color: aliceblue;
}

.footer__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 27px;
}
.social {
   display: flex;
   column-gap: 30px;
   align-items: center;
}

.img__social {
   width: 60px;
   padding: 0 5px;
}

.copyright {
   font-size: 16px;

}

@media (max-width: 1200px) {
   .header__title {
      font-size: 50px;
   }
   .projects {
      justify-content: center;
   }
}
@media (max-width: 1050px) {
   .header__title {
      padding: 100px 0 30px;
   }
   .title-1 {
      padding: 30px 15px;
   }
}
@media (max-width: 900px) {
   .header__title{
      padding: 120px 0 30px;
   }
   .img__social {
      max-width: 50px;
   }
}

@media (max-width: 650px) {
   .header__title{
      font-size: 40px;
   }
   .title-1 {
      padding: 30px 20px;
      font-size: 45px;
   }
   .title-2 {
      font-size: 35px;
   }
}

@media (max-width: 470px){
   .header__title{
      padding: 120px 0 0;
      font-size: 30px;
      line-height: 1;
   }
   .title-1 {
      padding: 30px 10px;
      font-size: 40px;
   }
   .title-2 {
      font-size: 30px;
   }
   .title-3 {
      padding: 0 20px;
   }
   .link_contact {
      padding: 0 20px;
   }

}


@media (max-width: 370px) {
   .logo {
      padding: 0 15px;
      text-align: center;
   }
   .title-2 {
      font-size: 25px;
   }
   .title-3 {
      font-size: 30px;
   }
   .link_contact {
      font-size: 35px;
   }
}